*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: #D83636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-left: 20px;
}
.logo {
    margin-bottom: 27px;
    width: 20%;
}
nav{ 
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    height: 100px;
    align-items: center;
    width: 80%;
}

.menu-link {
    margin: 0 10px;
    text-decoration: underline;
    text-decoration: none;
    color: wheat;
}
.menu-link:hover {
    color: white
}
.menu-link img{
    background-color: #D83636;
}